#work {
  position: sticky!important;
  position: -webkit-sticky!important;
  position: sticky; top: 0px!important;
}

.attachinary .optional .attachinary-input {
  visibility: hidden;
  background: white;

}
