.btn-outline {
  background-color: white;
  font-family: 'arial';
  font-weight: lighter;
  border-radius: 0;
  color: black;
  border: .5px solid black;
  margin-bottom: 3px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 11px;
  padding-left: 12px;
  letter-spacing: 0.02em;
}

.button-form {
  background-color: black;
  font-family: 'arial';
  font-weight: lighter;
  border-radius: 0;
  color: white;
  border: .5px solid white;
  margin-bottom: 3px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 11px;
  padding-left: 12px;
  letter-spacing: 0.02em;
}

.btn-outline:hover {
  color: white;
}

.form-center {
  width: 30%;
}

.field {
  background-color: white;
  font-family: 'arial';
  font-weight: lighter;
  border-radius: 0;
  color: black;
  padding: 3px;
  border: .5px solid black;
  letter-spacing: 0.02em;
}

.form {
  margin-left: 6em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

