* {
  border: thin solid red;
}

.form-button {
  background-color: black;
  color: white;
}

.wrapper.upload {
  padding: 80px 50px;
}

.container.upload {
  margin: 0px;
}

.form-details {
  font-weight: 100;
}
