.btn-outline {
  background-color: black;
  font-family: 'arial';
  font-weight: lighter;
  border-radius: 0;
  color: white;
  border: 1px solid white;
}

.btn-outline:hover {
  color: white;
}

.field {
  background-color: black;
  font-family: 'arial';
  font-weight: lighter;
  border-radius: 0;
  color: white;
  border: 1px solid white;
}


