// Specific CSS for your home-page

// ----------- GLOBAL STYLING ------------//
body {
  font-family: "arial";
  background-color: white;
  letter-spacing: 0.01em;
}

.turbolinks-progress-bar {
  background-color: black;
  height: 3px;
}

h2 {
  font-family: 'Helvetica';
  color: black;
  font-size: 26px;
}

p {
  margin-bottom: 0;
}

a {
  color: black;
  opacity: 1;
}

a:hover {
  color: black;
  opacity: .5;
  text-decoration: none;
}

.wrapper {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2.2em;
  padding-right: 2.2em;
}

// ----------- NAV ------------//

.navbar-wagon {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  border-bottom: .5px solid black;
}

.navbar-wagon-link:hover {
  border-bottom: solid 2px #FFF;
  display: inline;
  padding-bottom: 3px;
}

.navbar-wagon {
  // position: fixed;
  width: 100vw;
  background-color: white;
}

.navbar-wagon a {
  font-size: 18px;
  color: black;
  font-weight: lighter;
}

.navbar-wagon-brand img {
  border: 1px solid black;
  border-radius: 50%;
}

// ----------- NAV—SIGNED IN ------------//
a {
  font-weight:100;
}

.navbar-wagon-link:hover {
  border-bottom: 0px;
  padding-bottom: 0px;
  opacity: 0.7;
}

// ----------- BANNER ------------//

.banner {
  color: black;
  text-align: center;
  height: 87vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
}

.tagline {
  color: black;
  font-weight: 200;
  padding-top: 2.5em;
  width: 75%;
}

h5 {
  font-family: 'arial';
}

.banner h1 {
  font-size: 50px;
  font-family: "arial";
}

.banner-copy {
  margin: 0 auto;
  color: black;
  font-size: 70px;
   &.green {
    color: green;
   }
}

.banner-content {
  margin-top: -2em;
  margin-left: 2em;
  margin-left: -3em;
}

#books {
  color: green;
  margin: 0 auto;
  font-size: 70px;
  padding-left: 50px;
  font-weight: 500;
    &:visited {
      color: green;
    }
}

// ----------- CARDS ------------//

.row {
  margin-top: 3em;
  margin-right: 15px;
  margin-left: 15px;
}

.fit {
  padding: 10px;
}

.form {
  text-align: center;
}

.view-all {
  float: right;
}

.cards {
  padding-bottom: 1.5em;
  margin-top: 1em;
}

.cards p {
  font-size: 18px;
  margin-left: 11px;
}

.card {
  padding-bottom: 1.5em;
  padding-right: .5em;
  padding-left: .5em;
}

.featured-card img {
  max-width: 125%;
}

.carousel-indicators li {
  visibility: hidden;
}

.carousel-control.right {
  background-image: none;
  color: black;
  opacity: 1;
}

.carousel-control.left {
    background-image: none;
    color: black;
    opacity: 1;
}

.carousel-control .icon-next, .carousel-control .glyphicon-menu-left {
  top: 50%;
}

.carousel-control .icon-next, .carousel-control .glyphicon-menu-right {
  top: 50%;
}

// ----------ARTICLE-------------//

.align {
  margin-top: 0.4em;
}

.box {
  padding-bottom: 0em;
}

.wrapper-libs {
  margin-left: 2.5em;
}

