table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: var(--table-header-font-weight);
}

th,
td {
  padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top}

.table-wrap {
  margin-top: 1.5em;
  padding: 0em;
}

td a {
  padding-top: 10px;
}

.title {
  padding-top: 3px;
}

.results-card img {
  max-width: 125%;
}
.align {
  margin-top: .1em;
}

#map {
  height: 100vh;
  width: 33vw;
  position: sticky !important;
  top: 0 !important;
  float: right;
  margin-left: 50px;
}

.gm-style-iw {
}

.table > tbody > tr > td {
  border-top: 1px solid black;
}

.table > thead > tr > th {
  border-bottom: 2px solid black;
}




.book-card {
  display: flex;
  margin: 30px 0px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 30px;
  .book-image {
    background-size: cover;
    background-position: center;
    height: 200px;
    flex: 0 0 133px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  .book-infos {
    flex-grow: 1;
    height: 200px;
    position: relative;
    h2 {
      font-size: 19px;
      font-weight: bolder;
      letter-spacing: -0.2px;
      margin-bottom: 5px;
    }
    .title {
      padding-top: 0px;
      position: absolute;
      left: 20px;
      top: 10px;
    }
    .meta {
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-size: 14px;
    }
    .rating {
      position: absolute;
      right: 10px;
      top: 10px;
      p:last-child {
        opacity: 0.2;
        font-weight: lighter;
      }
    }
  }

}












