<div class="cf ph4-ns">
  <div class="msg-block fl b--black-20 w-100 w-30-ns">
    <% @unread_messages = 0 %>
    <% Conversation.all.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.private_messages %>
          <% conversation.private_messages.each do |private_message| %>
            <% if private_message.user != current_user && private_message.read == false %>
              <% @unread_messages += 1 %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <h3 class="book-title f3 black lh-title fw9 pb2">Messages(<%= @unread_messages %>)</h3>
    <% my_conversations = [] %>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% my_conversations << conversation %>
        <% if conversation.sender_id == current_user.id %>
          <% @recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% @recipient = User.find(conversation.sender_id) %>
        <% end %>
        <% if conversation.id == @conversation.id %>
          <div class="active">
        <% else %>
          <div>
        <% end %>
          <% @unread_conversation = 0 %>
          <% conversation.private_messages.each do |private_message| %>
            <% if private_message.user != current_user && private_message.read == false %>
              <% @unread_conversation += 1 %>
            <% end %>
          <% end %>
          <blockquote class="tl f7 pl2 b--black-20">
            <% avatar_url = @recipient.facebook_picture_url || @recipient.google_picture_url || "http://i.pravatar.cc/150?img=17" %>
            <%= image_tag avatar_url, class: "br-100 w2 dib" %>
            <%= link_to @recipient.email, read_conversation_path(conversation), method: :patch, class: "text #{@unread_conversation > 0 ? 'unread' : ''}" %>
          </blockquote>
        </div>
      <% end %>
    <% end %>
      </div>
  <div class="fl w-70-ns" id="stick-form ">
    <%= render 'private_messages/index' %>
  </div>
</div>
</div>

<html>


<body onLoad="JavaScript:checkRefresh();">

<form name="refreshForm">
<input type="hidden" name="visited" value="" />
</form>

</body>
</html>

<% content_for(:after_js) do %>
  <script>
    $(document).ready( function() {
      $('html, body').animate({
        scrollTop: $('footer').offset().top
        //scrollTop: $('#your-id').offset().top
        //scrollTop: $('.your-class').offset().top
      }, 'slow');
    });
  </script>
<% end %>
