<footer class="left pv4 pv4-l ph2">
  <p class="f7">
    <span class="dib ml3 mr5-ns">© 2017 The Book Collective</span>
    <a class="link black-80" href="/terms">Terms</a> /
    <a class="link black-80" href="/privacy"> Privacy </a> /
    <a class="link black-80" href="#">hi@bookcollective.space </a>
  </p>
</footer>
