<div class="flex flex-column" style="min-height:10vh">
  <header class="p2 border">
    <h1 class="h2 m0">Flex Object Sticky Footer</h1>
  </header>
  <main class="flex-auto p2">
    <h1>Main content area</h1>
  </main>
  <footer class="p2 border">
    <p class="m0">Footer</p>
  </footer>
</div>
