<div class="library-container">
  <div class="library-new-template">
    <div class="main-text">
    <div class="main-content">
        <p>
          Create your very own Library and add your book collections to it
        </p>
      </div>
    </div>
    <div class="side-form center">
      <div class="side-form-content">
        <%= render 'form' %>
      </div>
    </div>
    <div class="side-text center">
      <div class="side-text-content">
       <p>Contribute to The Book Collective's <strong>5,000+ </strong>Libraries, shared by book lovers all over the world</p>
    </div>
  </div>
</div>
