<div class="library-container">
  <div class="library-new-template">
  <%= link_to ("<button>&times;</button>").html_safe, :back  %>
    <div class="main-text">
    <div class="main-content">
        <p>
          Create your very own library and add your book collections to it
        </p>
      </div>
    </div>
    <div class="side-form">
      <div class="side-form-content">
        <%= render 'form' %>
      </div>
    </div>
    <div class="side-text">
      <div class="side-text-content">
       <p>Contribute to our <strong>5,000+ </strong>libraries shared by other book lovers around the world</p>
    </div>
  </div>
</div>
