<p> index books -- Search Results Page </p>

<h1>Search Results</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% for book in @books %>
        <div class='book'>
            <strong> <%= link_to book.title, book_path(book) %> </strong>
            <p>Number of bookings: <%= book.bookings.count %></p>
            <p>
            Number of reviews: <% sum = 0 %>
              <% book.bookings.each do |booking| %>
                <% sum += booking.reviews.count %>
              <% end %>
              <%= sum %>
            </p>
        </div>
      <% end %>
     </tr>
  </tbody>
</table>


