<p> index books -- Search Results Page </p>

<h1>Search Results</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% for book in @books %>
        <div class='book'>
            <strong> <%= link_to book.title, book_path(book) %> </strong>
        </div>
      <% end %>
     </tr>
  </tbody>
</table>


