<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Review
</button>

<!-- Modal -->

<%= content_for(:after_js) do %>
 <script>
   $('#review_stars').rating({'size':'xs'});
 </script>
<% end %>
